header {
    position: absolute;
    width: 100vw;
    height: 12vh;
    background-color: #C25200;

    .Logo{
        position: absolute;
        left: 6vw;
        top: 1vh;
        width: 10vh;
        height: 10vh;    
    }    
}
