header {
    position: absolute;
    width: 100vw;
    height: 12vh;
    background-color: #C25200;

    .Logo{
        position: absolute;
        left: 6vw;
        top: 1vh;
        width: 10vh;
        height: 10vh;    
    }
    
    .load-model-link{
        text-decoration: none;
    }

    .load-model{
        position: relative;
        width: fit-content;
        height: fit-content;
        left: 56vw;
        top: 35%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        /* identical to box height */
        color: #FFFFFF;
        
    }

    .login-reg-button{
        position: absolute;
        width: 15vw;
        height: 5vh;
        right: 6vw;
        top: 3.3vh;
        border-radius: 20px;
        background-color: #1E1E1E;
        text-decoration: none;
        display: flex;
        text-align: center;
    }

    .login-reg{
        position: relative;
        top: 15%;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
    }
}
